<!-- include css -->
<link rel="stylesheet" href="../../public/css/style.css">


<nav class="navbar">
    <div class="nav-wrapper">
        <img src="../../public/img/logo.png" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="../../public/img/home.png" class="icon" alt="">
            <img src="../../public/img/messenger.png" class="icon" alt="">
            <img src="../../public/img/add.png" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>