<!DOCTYPE html>
<html>

<head>
    <title>404 Not Found - PIG</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>

    <%- include('includes/navbar') %>
        <div class="not-found-container">
            <h1 class="error-number">404</h1>
            <img src="/img/lostpig404.png" alt="Lost Pig Wizard" class="error-image">
            <p class="error-message">Oops! It seems you're a bit lost.</p>
        </div>

</body>

</html>